<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<div>
  <th:block layout:fragment="content">
  <div class="container">
  <div class="justify-content-center">
  	<div class="card" style="max-width:1500px;">
	  <div class="card-body"  >
	    <h4 class="card-title" th:text="${board.title}" >제목</h4>
	    <p></p>
	    <div class="row">
	    	<div class="col" style="text-align:left;">
	    	<a class="card-subtitle mb-2 text-body-secondary" th:text="'작성자 : ' + ${writer}" style="font-size: 15px; color: grey; text-decoration: none;"></a>
	    	</div>
	    	<div class="col" style="text-align:right">
	    	<a class="card-subtitle mb-2 text-body-secondary" th:text="'작성일 : ' + ${board.writeDate}" style="font-size: 15px; color: grey; text-decoration: none;"></a>
	    	</div>
	    </div>
	    <hr>
	    <p class="card-text" th:text="${board.body}" style="height: 500px;">내용</p>
	    </div>
		    <div class="card-footer"  style="background-color: white;"> 
		    <div th:if="${user}!=null">
			<div th:if="${user.id}==${board.userId}" style="color:red;">
				<a th:onclick="deleteBoard([[ ${board.id} ]])" style="cursor: pointer; float: right; margin-top: 8px;">삭제</a>
				<a  style="cursor: pointer; float: right; margin-top: 8px; margin-right:5px; color:black;"> | </a>
				<a th:onclick="modifyBoard([[ ${board.id} ]])" style="cursor: pointer; float: right; margin-top: 8px; margin-right: 5px;">수정</a>
	    	</div>
	    	</div>
		    <div style="float:left;"><a class="btn btn-outline-info" th:href="@{|/api/board/like?boardNo=${board.id}|}">좋아요</a>
		    	<a th:text="${board.likeCount}" style="margin-left:5px;"></a>
		    </div>
		  </div>
		  
	 </div> 
	 
	<div class="mt-3" style="margin-bottom: 100px;">
		<div style="float:left;"><a href="/" class="btn btn-primary">목록</a></div>
		<div style="float:right;">
		
    	</div>
    </div>
	
	
	<div style="margin-bottom: 100px;">
	<div class="card">
		<h5 style="margin: 10px;">댓글</h5>
	</div>
	     
	  <div th:if="${comments}!=null" th:each="comment : ${comments}" style="margin: 15px;">
		  <div><p th:text="${comment.userName}" style="font-weight: bold; float:right;">작성자</p>
		  <div><p th:text="${comment.body}" style="margin-left:10px;  margin-right:65px;">내용</p></div>
		  
		  <div class="row">
		  <div class="col" style="text-align: left; color: blue;">
		  	<a class="btn btn-outline-info" th:href="@{|/api/comment/like?commentNo=${comment.id}|}">좋아요</a><a style="margin-left:10px; color:black;" th:text="${comment.likeCount}"></a>
		  </div>
		  <div class="col" style="text-align: right; color: red;">
		  <!--<a th:onClick="modifyComment([[ ${comment} ]])" style="cursor: pointer;"> 수정 </a>
			  <a  style="cursor: pointer;margin-right:2px; color:black;"> | </a>
			  <a th:onClick="deleteComment([[ ${comment} ]])" style="cursor: pointer;"> 삭제</a>
			   -->
			  <a th:onClick="modifyComment([[ ${comment} ]])" style="cursor: pointer;"> 수정 </a>
			  <a  style="cursor: pointer;margin-right:2px; color:black;"> | </a>
			  <a th:onClick="deleteComment([[ ${comment} ]])" style="cursor: pointer;"> 삭제</a>
		   </div>
		  </div>
		  </div>
		  <hr>
	</div>
	</div>
	
    <div class="card mt-3">
  	<div class="card-body">
    <form th:action="@{|/api/comment/write?boardNo=${board.id}|}" method="post">
	    <div class="row row-cols-2" >
		    <div class="form-floating col mb-3" >
			  <input th:if="${user}==null" type="text" class="form-control" id="name" name="name" placeholder="닉네임" value="익명"  style="height: 50px;">
			  <input th:if="${user}!=null" type="text" class="form-control" id="name" name="name" placeholder="닉네임" th:value="${user.name}"  style="height: 50px;">
			  <label for="floatingInput"  style="margin-left:10px; margin-top:-5px;">작성자</label>
			</div>
			<div class="form-floating col">
			  <input type="password" class="form-control" id="password" name="password" placeholder="4자이상" style="height: 50px;">
			  <label for="floatingPassword" style="margin-left:10px; margin-top:-5px;">비밀번호</label>
			</div>
		</div>
		   <div class="input-group">
			 <textarea class="form-control" placeholder="댓글" id="body" name="body" style="height: 70px"></textarea>
			 <button class="btn btn-outline-secondary" type="submit" id="button-addon2">작성</button>
		</div>
	</form>  
	</div>
	</div> 
	
	</div>
	</div>
 
 	
 	<script th:inline="javascript">
 	function deleteBoard(id) {
 		if(confirm("삭제하시겠습니까?")==true) {
 			window.location.href ='/board/delete?boardNo=' + id;
 			alert("삭제되었습니다.");
 		} else return;
 	};
 	
 	function modifyBoard(id) {
 		if(confirm("수정하시겠습니까?")==true) {
 			window.location.href = '/board/modify?boardNo=' + id;
 		}
 	};
 	
 	/*
 	function modifyComment(comment) {
 		pwConfirm = prompt('댓글 작성시 등록한 비밀번호를 입력해주세요.');
 		if(pwConfirm==comment.password) {
 			updateBody = prompt('수정할 내용을 입력해주세요.', comment.body);
 			window.location.href = '/comment/modify?commentNo=' + comment.id + "&body=" + updateBody;
 		}
 		else if (pwConfirm=="") alert("비밀번호를 입력해주세요.");
 		else if (pwConfirm==null) return;
 		else alert("비밀번호가 일치하지 않습니다.");
 	};
 	
 	function deleteComment(comment) {
 		if(confirm("삭제하시겠습니까?")==true) {
	 		pwConfirm = prompt('댓글 작성시 등록한 비밀번호를 입력해주세요.');
	 		if(pwConfirm==comment.password) 
	 			window.location.href = '/comment/delete?commentNo=' + comment.id;
	 		else if(pwConfirm=="") alert("비밀번호를 입력해주세요.");
	 		else if(pwConfirm==null) return;
	 		else alert("비밀번호가 일치하지 않습니다.");
	 	} else return;
 	}
 	*/
 	
 	function modifyComment(comment) {
 		popOption = "width= 650px. height=550px, top=300px, lef=300px; scrollbars=yes";
 		openUrl = '/comment/userConfirm?commentNo=' + comment.id; 
 		window.open(openUrl, 'pop', popOption);
 	}
 	
 	function deleteComment(comment) {
 		popOption = "width= 650px. height=550px, top=300px, lef=300px; scrollbars=yes";
 		openUrl = '/comment/delete?commentNo=' + comment.id;
 		window.open(openUrl, 'pop', popOption);
 	}
 	</script>
  </th:block>
  </div>
  </html>
