<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

  <th:block layout:fragment="content">
	<div class="container" style="margin-bottom: 50px;">
	
		<form class="mb-3" role="search" style="width: 500px; float:right;"  action="/board/search" method="get">
		<div class="row ">
		    <div class="col-4">
		    <select id="selected" name="selected" class="form-select">
		      <option selected>제목</option>
		      <option>내용</option>
		    </select>
		    </div>
      		<div class="col-6">
      			<input class="form-control me-2" type="search" id="keyword" name="keyword" 
      			placeholder="검색어" aria-label="Search" style="margin-left:-20px;">
      			</div>
      		<button class="col-2 btn btn-outline-secondary" type="submit" style="margin-left:-30px;">찾기</button>
    	</div>
    	</form>
		
		<table class="table table-hover" style="text-align: center;">
		  <thead class="table-light">
		    <tr>
		      <th scope="col">제목</th>
		      <th scope="col">작성일</th>
		      <th scope="col">조회수</th>
		      <th scope="col">좋아요</th>
		    </tr>
		  </thead>
		  <tbody class="table-group-divider">
		    <tr th:each="board : ${boards}" th:onclick="|location.href='/board?boardNo=${board.id}'|">
		    	<td th:text="${board.title}"></td>
		    	<td th:text="${board.writeDate}"></td>
		    	<td th:text="${board.viewCount}"></td>
		    	<td th:text="${board.likeCount}"></td>
		    </tr>
		  </tbody>
		</table>
		
		<div  style="float: right;">
			<a class="btn btn-outline-info mt-3 mb-3" href="/board/write" role="button" style="margin-left: 20px;">글쓰기</a>
		</div>
		
		
		<div th:if="${pageDto.endPage}<1">
		<p class="nav justify-content-center"> 작성된 글이 없습니다.</p>
		</div>
		
		<nav th:if="${pageDto.endPage}>0" aria-label="Page navigation">
			<ul class="pagination justify-content-center">
			    <li class="page-item">
			      <a class="page-link" th:href="@{|/?pageNum=${pageDto.startPage - 1}|}" th:if="${pageDto.prev}">이전</a>
			    </li>
			    <li class="page-item disabled">
			      <a class="page-link" th:href="@{|/?pageNum=${pageDto.startPage - 1}|}" th:if="!${pageDto.prev}">이전</a>
			    </li>
			    <li class="page-item" th:each="pageNum : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
			       <a th:if="${keyword}==null" class="page-link" th:href="@{'/?pageNum=' + ${pageNum}}" th:text="${pageNum}"></a>
			       <a th:if="${keyword}!=null" class="page-link" th:href="@{'/board/search?selected=' + ${selected} + '&keyword=' + ${keyword} + '&pageNum=' + ${pageNum}}" th:text="${pageNum}"></a>
			    </li>
			    <li class="page-item disabled">
			      <a class="page-link" th:href="@{|/?pageNum=${pageDto.endPage + 1}|}" th:if="!${pageDto.next}">다음</a>
			    </li>
			    <li class="page-item">
			      <a class="page-link" th:href="@{|/?pageNum=${pageDto.endPage + 1}|}" th:if="${pageDto.next}">다음</a>
			    </li>
			 </ul>
		</nav>
		

		
		
	</div>
	
	
  </th:block>
  
</html>